<h1>Mmm... Smells delicious...</h1>

<div class='row-fluid'>

  <div class='span4'>
    <%= image_tag asset_path 'pie.jpg' %>
  </div>

  <div class='span4'>
    <%= render 'form' %>
  </div>

</div>
