<div class='hero-unit'>
  <div class='row-fluid'>

    <div class='span8'>
      <h1>My awesome App</h1>
      <p>A new way to be awesome.</p>
      <%= link_to 'Find out more', '#', class: 'btn btn-warning' %>
    </div>

    <div class='span4'>
      <img src="http://placehold.it/300x200"/>
    </div>

  </div>
</div>

<div class='row-fluid'>

  <div class='span4'>
    <h2>Harder</h2>
    <p>My 6 year old son was watching spongebob when he turned around and said "Daddy, I know why squidward wears no pants! It's because his winky is on his face.</p>
  </div>

  <div class='span4'>
    <h2>Better</h2>
    <p>Veggies sunt bona vobis, proinde vos postulo esse magis brussels sprout turnip azuki bean nori sweet pepper beet greens asparagus spring onion maize carrot courgette onion courgette.</p>
  </div>

  <div class='span4'>
    <h2>Faster</h2>
    <p>Endive salad prairie turnip lettuce celtuce dulse sea lettuce spring onion chicory soko bell pepper rock melon onion celery leek nori eggplant.</p>
  </div>

</div>
