<div class='row-fluid text-center'>

  <div class='span12'>
    <h1>DayPie</h1>
    <p>Bake delicious pies... And carpe diem!</p>
    <input type='text'></input>
    <br/>
    <a class='btn btn-success'>Search</a>
    <hr>
  </div>

</div>

